/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 19, 2017, 12:41:10 PM
    Author     : psnpsn
*/

/*BACKGROUNDS BASED ON COLOURS*/

.daquaB{
    -fx-background-color:#488a99 ;
}

.goldB{
    -fx-background-color:#DBAE58 ;
}

.charcoalB {
    -fx-background-color:#36454f;
}

.greyB{
    -fx-background-color:#B4B4B4 ;
    
}


/*MENU STYLE : LE MENU GAUCHE DES FENETRES*/


.menu-btn{
    -fx-text-fill:lightgrey;
    -fx-font-size:13px;
    -fx-font-weight:bold;
}

.menu-btn:hover{
    -fx-text-fill:white;
    -fx-font-size:13px;
    -fx-font-weight:bold;
}

.username-label{
    -fx-text-fill:lightgrey;
    -fx-font-size:14px;
    -fx-font-weight:bold;
}

.app-label{
    -fx-text-fill:#DBAE58;
    -fx-font-size:16px;
    -fx-font-weight:bolder;
    -fx-font-style:italic;  
}

/*CENTER STYLE : LE CONTENU DES FENETRES*/

.ajoutBtn{
    -fx-background-color:#488a99;
    -fx-text-fill: white;
    -fx-font-size:14px;
}
.ajoutBtn:hover{
    -fx-background-color:#36454f;
}

/*LOGIN STOCKY */

.welcome{
    -fx-text-fill:#487a99;
    -fx-font-weight:bold;
}

.STOCK {
    -fx-text-fill:#DBAE58 ;
    -fx-font-size:80px;
    -fx-font-style:italic;
    -fx-font-weight:bold;
    
}

.STOCKy {
    -fx-text-fill:#DBAE58;
    -fx-font-size:70px;
}

.createUser {
    -fx-text-fill: blue;
    -fx-font-style:italic;
    -fx-font-size:11px;
}

.txt {
    -fx-text-fill:whitesmoke;
}

.btn {
    -fx-background-color:#5da187 ;
}

.validateTxt{
    -fx-text-fill : red;
}

.x-btn:hover{
    -fx-background-color: lightcoral;
}

.minus-btn:hover{
    -fx-background-color: lightcoral;
}